* {
    padding: 0;
    margin: 0;
}

.layout-body {
    display: flex;
    flex-direction: column;
}

.layout-header {
    flex: 1;
    box-shadow: 0px 10px 10px -10px #333;

}

.layout-main {
    display: flex;
    flex: 1;
}

.layout-content {
    flex: 1;
    background-color: #000;
    height: 100%;
}

.layout-side-right, .layout-side-left {
    /* 两个边栏的宽度 */
    background-color: red;
    flex: 0 0;
    min-width: 40px;
}

.layout-side-left {
    /* 导航放到最左边 */
    justify-content: center;
    order: -1;

}

.layout-side-left-menu {

    background: #f2f2f2;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.layout-side-left-menu-item {
    padding: 10px;
    display: flex;
    /* border-bottom: 1px solid #000; */
    writing-mode: vertical-rl;
    width: 100%;
    text-align: center;
    align-items: center;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    font-family: "Fira Code"
}

.layout-side-left-menu-item span {
    margin-top: 5px;
}


.layout-side-left-menu-item:last-child {
    /* border-bottom: none; */
}

.layout-side-left-menu-item:hover {
    /* border-bottom: 1px solid #007acc; */
    /* color: #007acc; */
    background-color: #d9d9d9;
    cursor: pointer;

}



.actvie {
    /* border-bottom: 1px solid #007acc; */
    color: #007acc;

}

/*********************************顶部导航**********************************/

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f2f2f2;


    height: 35px;

    box-shadow: 12px 12px 15px #000;
}

.logo {
    width: 20px;
    margin-left: 10px;
    height: auto;
}

#nav-list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: space-around;
    /* width: 180px; */
    line-height: 35px;
    /* background: red; */
}

#nav-list li {
    /* outline: 1px solid #ccc; */
    /* background-color: #0f0; */
    width: 40px;
    text-align: center;
}

#nav-list li:hover {

    background-color: #dadada;


}