* {
    padding: 0;
    margin: 0;
}

ul, ol {
    list-style: none;
}

.layout-body {
    display: flex;
    flex-direction: column;
}

.layout-header {
    flex: 1;


}

.layout-main {
    display: flex;
    flex: 1;
}

.layout-content {
    flex: 1;
    background-color: #000;
    height: 100%;
}

.layout-side-right, .layout-side-left {
    /* 两个边栏的宽度 */
    background-color: red;
    flex: 0 0;

}

.layout-side-left {
    /* 导航放到最左边 */
    justify-content: center;
    order: -1;

}


/*********************************顶部导航**********************************/

.menu-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f2f2f2;
    height: 35px;
    box-shadow: 12px 12px 15px #000;
}

.logo {
    width: 20px;
    margin-left: 10px;
    height: auto;
}

#nav-list {
    display: flex;
    flex-wrap: nowrap;
    list-style-type: none;
    justify-content: space-around;
    /* width: 180px; */
    line-height: 35px;
    /* background: red; */
}

#nav-list li {
    /* outline: 1px solid #ccc; */
    /* background-color: #0f0; */
    width: 40px;
    text-align: center;
}

#nav-list li:hover {

    background-color: #dadada;


}